---
global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:

rule_files:

scrape_configs:
  - job_name: "pbs"
    file_sd_configs:
      - files:
        - nodes/*.yaml
    relabel_configs:
      # add exporter port to address
      - source_labels: [__address__]
        action: replace
        regex: '([^:]+)(:.*)?'
        replacement: '$1:9307'
        target_label: __address__
      # remove exporter port from instance label
      - source_labels: [instance]
        target_label: __tmp_instance
        regex: '(.+)'
        replacement: '${1};'
      - source_labels: [__tmp_instance, __address__]
        separator: ''
        target_label: instance
        regex: '([^:;]+)((:[0-9]+)?|;(.*))'
        replacement: '${1}'
  - job_name: "dcgm"
    file_sd_configs:
      - files:
        - nodes/nodes_gpu.yaml
    relabel_configs:
      # add exporter port to address
      - source_labels: [__address__]
        action: replace
        regex: '([^:]+)(:.*)?'
        replacement: '$1:9400'
        target_label: __address__
      # remove exporter port from instance label
      - source_labels: [instance]
        target_label: __tmp_instance
        regex: '(.+)'
        replacement: '${1};'
      - source_labels: [__tmp_instance, __address__]
        separator: ''
        target_label: instance
        regex: '([^:;]+)((:[0-9]+)?|;(.*))'
        replacement: '${1}'
