[Unit]
Description=PBS Prometheus Exporter
After=network-online.target

[Service]
User=prometheus
Restart=on-failure
Environment="PATH=/opt/pbs/bin:$PATH"
ExecStart=/opt/prometheus/pbs_exporter

[Install]
WantedBy=multi-user.target
