---
name: build
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/*'
      - '**.go'
      - '**.jsonnet'
      - '**.libsonnet'
      - '**.mod'
      - 'makefile'
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Format
        run: make go-fmt && git diff --exit-code
      - name: Lint
        run: make --keep-going lint
      - name: Build
        run: make
      - name: Test
        run: make test
      - name: Release Prep
        if: github.ref_type == 'tag'
        run: |
          tar -czf dashboards.tar.gz -C misc/dashboards/build .
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          draft: true
          files: |
            ./pbs_exporter
            ./dashboards.tar.gz
